<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karla">
    <style>
        html{
            height: 100%;
        }
        div {
            font-family: karla;
            font-size: 60px;
            display: flex;
            height: 96.5vh;
            align-items: center;
            justify-content: center;
            text-align: center;
            border-style: dashed;
            border-width: 8px;
        }
    </style>
  </head>
  <body>
    <div>
        <p class="name"><b>ROLAND MUNGUIA</b></br>Site Under Construction</p>
    </div>
  </body>
</html>